<h2 class="text-center py-2">Layihələr</h2>
<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th></th>
            <th></th>
            <th></th>
            <th>Project Name</th>
            <th>Address</th>
            <th>Project Manager</th>
            <th>
                <a class="btn btn-outline-success btn-sm w-100" href="/projects/add-project">Əlavə <i class="bi bi-plus-circle"></i></a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {{#if projects}}
                {{#each projects}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{dataValues.name}}</td>
                        <td>{{dataValues.address}}</td>
                        <td>{{dataValues.project_manager_id}}</td>
                        <td class="d-flex justify-content-between">
                            <a class="btn btn-outline-danger btn-sm" href="/projects/delete/{{dataValues.id}}"><i class="bi bi-x-circle"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="/projects/update/{{dataValues.id}}"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-outline-primary btn-sm" href="/projects/project/{{dataValues.id}}"><i class="bi bi-diagram-3"></i></a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </div>
    </table>
</div>