{{> messages }}
<div class="time-off-form mb-5">
    <h1 class="text-center">Əməkdaş Qeydiyyat Formu</h1>
    <form action="" method="post">
        <div class="toff-partitions toff-active">
            <div class="time-off-select-container d-flex justify-content-between mt-5">
                <div class="toff-select-cont-left d-flex flex-column">
                    <div class="time-off-type">
                        <label for="empName">İşçinin Adı: </label>
                        <input type="text" name="first_name" id="empName">
                    </div>
                    <div class="time-off-description">
                        <label for="empSurname">Soyadı: </label>
                        <input type="text" name="last_name" id="empSurname">
                    </div>
                    <div class="time-off-priority">
                        <label for="father_name">Ata adı: </label>
                        <input type="text" name="father_name" id="father_name">
                    </div>
                    <div class="toff-start-date">
                        <label for="empMidName">2nci Adı: </label>
                        <input type="text" name="middle_name" id="empMidName">
                    </div>
                    <div class="sex">
                        <label for="sex">Cinsiyəti Seçin</label>
                        <select name="sex" id="sex">
                            <option value="0">Kişi</option>
                            <option value="1">Qadın</option>
                        </select>
                    </div>
                    <div class="toff-end-date">
                        <label for="dob">Doğum Tarixi: </label>
                        <input type="date" id="dob" name="dob">
                    </div>
                    <div class="w-start-date">
                        <label for="ssn">SSN: </label>
                        <input type="number" name="SSN" id="ssn">
                    </div>
                    <div class="possible-toff-days d-flex align-items-center">
                        <label for="fin">FİN: </label>
                        <input type="text" name="FIN" id="fin">
                    </div>
                    <div class="toff-application-document">
                        <label for="q_address">Qeydiyatda olduğu ünvan: </label>
                        <input type="text" id="q_address" name="q_address">
                    </div>
                    <div class="toff-maker">
                        <label for="y_address">Yaşadığı ünvan:</label>
                        <input type="text" id="y_address" name="y_address">
                    </div>
                                        <div class="toff-branch">
                        <label for="phone_number">Telefon Nömrəsi: </label>
                        <div class="">
                            <select style="width: 135px;" name="prefix" id="prefix">
                                <option value="0" hidden>Prefix Seçin</option>
                                <option value="050">050</option>
                                <option value="051">051</option>
                                <option value="055">055</option>
                                <option value="099">099</option>
                                <option value="070">070</option>
                                <option value="077">077</option>
                                <option value="060">060</option>
                                <option value="010">010</option>
                            </select>
                            <input style="width: 150px;" type="number" name="phone_number" id="phone_number">
                        </div>
                    </div>
                </div>
                <div class="emp-select-cont-right d-flex flex-column">
                    <div class="toff-department">
                        <label for="home_number">Ev telefonu:</label>
                        <input type="number" name="home_number" id="home_number">
                    </div>
                    <div class="toff-branch">
                        <label for="logix_name">Logix Adı: </label>
                        <input type="text" name="logix_name" id="logix_name">                           
                    </div>
                    <div class="toff-department">
                        <label for="tabel_no">Logix Tabel No:</label>
                        <input type="text" name="tabel_no" id="tabel_no">
                    </div>
                    <div class="toff-emp-position">
                        <label for="shift_type">Ştat: </label>
                        <select name="shift_type" id="shift_type">
                            <option value="default" hidden>Ştat qrafiki</option>
                            <option value="1">Tam Ştat</option>
                            <option value="2">Yarımştat (Günün 1-ci yarısı)</option>
                            <option value="3">Yarımştat (Günün 2-ci yarısı)</option>
                        </select>
                    </div>
                    <div class="toff-emp-comment">
                        <label for="job_start_date">İşə başlama tarixi: </label>
                        <input type="date" name="j_start_date" id="job_start_date">
                    </div>
                    <div class="toff-emp-comment">
                        <label for="dayoff_days_total">Məzuniyyət günlərinin sayı:</label>
                        <input type="number" name="dayoff_days_total" id="dayoff_days_total">
                    </div>

                    <div class="toff-emp-comment">
                        <label for="working_days">İş günlərinin sayı:</label>
                        <div>
                            <input style="width: fit-content; height: fit-content" type="checkbox" name="full_day" id="full_day" checked>
                            <input style="color: var(--web-text-color); box-shadow: -1px -1px 3px rgb(255 255 255), 2px 2px 6px rgb(0 0 0 / 30%), inset -2px -2px 10px rgb(255 255 255), inset 2px 2px 10px rgb(0 0 0 / 30%) !important;" type="number" name="working_days" id="working_days" disabled>
                        </div>
                    </div>
                    <div class="toff-emp-comment">
                        <label for="project_id">Proyekt:</label>
                        <select class="select-width" name="project_id" id="project_id">
                            {{#if pjResult}}
                                {{#each pjResult}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>
                    <div class="toff-emp-comment">
                        <label for="department_id">Departament:</label>
                        <select class="select-width" name="department" id="department_id">
                            {{#if deptResult}}
                                {{#each deptResult}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>
                    <div class="toff-emp-comment">
                        <label for="position_id">Vəzifəsi:</label>
                        <select class="select-width" name="position_id" id="position_id">
                            {{#if psResult}}
                                {{#each psResult}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="note-and-btn d-flex justify-content-between align-items-center">
            <div class="note">
                <p class="p-note"><span class="text-danger">Qeyd: </span> <span class="text-danger">Əməkdaşın logix proqram təminatındaki adı və tabel nömrəsi dəqiq qeyd olunmalıdır. Adının və yaxud tabel nömrəsinin
             dəyişmə halında məlumatları yeniləməyi unutmayınız.</span></p>
            </div>
            <div class="toff-submit-btn">
                <button class="btn" id="empRegApply">Apply</button>
            </div>
        </div>
    </form>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/add-employee.js"></script>