{{> messages }}
<div class="department-table">
    <table class="table table-striped">
        <div class="container">
            <thead>
                <th></th>
                <th>Adı </th>
                <th>Soyadı</th>
                <th>Ata Adı</th>
                <th>Telefon Nömrəsi</th>
                <th>Departament</th>
                <th>Vəzifəsi</th>
                <th>Proyekt</th>
                <th>Status</th>
                <th>
                    <a class="btn btn-outline-success btn-sm w-100" href="/employee/add-employee">Əlavə <i class="bi bi-person-plus"></i></a>
                </th>
            </thead>
<!--            <thead>-->
<!--                <th></th>-->
<!--                <th><input type="text" name="empName"></th>-->
<!--                <th><input type="text" name="empSurname"></th>-->
<!--                <th><input type="text" name="empFatherName"></th>-->
<!--                <th><input type="text" name="empPhone"></th>-->
<!--                <th><input type="text" name="empDepartment"></th>-->
<!--                <th><input type="text" name="empPosition"></th>-->
<!--                <th><input type="text" name="empProject"></th>-->
<!--                <th></th>-->
<!--                <th></th>-->
<!--            </thead>-->
            <tbody>
            {{#if hr}}
                {{#if employee}}
                    {{#each employee}}
                        <tr>
                            <td></td>
                            <td>{{this.first_name}}</td>
                            <td>{{this.last_name}}</td>
                            <td>{{this.father_name}}</td>
                            <td>{{this.phone_number}}</td>
                            <td>{{this.depName}}</td>
                            <td>{{this.psName}}</td>
                            <td>{{this.pjName}}</td>
                            {{#if this.j_end_date}}
                                <td><span class="text-danger">İşdən ayrılıb</span></td>
                            {{else}}
                                <td><span class="text-success">İşləyir</span></td>
                            {{/if}}
                            <td class="d-flex justify-content-between last-td" style="position: relative">
                                <button class="btn btn-outline-danger btn-sm empRmBtn" value="{{this.id}}"><i class="bi bi-dash-circle"></i></button>
                                <a class="btn btn-outline-secondary btn-sm" href="/employee/update/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
            {{/if}}
            {{#if super_admin}}
                {{#if employee}}
                    {{#each employee}}
                        <tr>
                            <td></td>
                            <td>{{this.first_name}}</td>
                            <td>{{this.last_name}}</td>
                            <td>{{this.father_name}}</td>
                            <td>{{this.phone_number}}</td>
                            <td>{{this.depName}}</td>
                            <td>{{this.psName}}</td>
                            <td>{{this.pjName}}</td>
                            {{#if this.j_end_date}}
                                <td><span class="text-danger">İşdən ayrılıb</span></td>
                            {{else}}
                                <td><span class="text-success">İşləyir</span></td>
                            {{/if}}
                            <td class="d-flex justify-content-between last-td btn-group" style="position: relative">
                                <a class="btn btn-outline-danger btn-sm" href="/employee/delete/{{this.id}}"><i class="bi bi-person-x"></i></a>
                                <button class="btn btn-outline-danger btn-sm empRmBtn" value="{{this.id}}"><i class="bi bi-dash-circle"></i></button>
                                <a class="btn btn-outline-secondary btn-sm" href="/employee/update/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
            {{/if}}
            </tbody>
        </div>
    </table>
</div>
<div class="modal-remove">
    <div class="modal-container d-flex p-5 justify-content-between">
        <div class="emp-data d-flex flex-column justify-content-between">
            <div class="">
                <h4>Adı:</h4>
                <input id="empName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Soyadı:</h4>
                <input id="empSName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Ata Adı:</h4>
                <input id="empFName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Telefon Nömrəsi:</h4>
                <input id="empPNumber" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Departament:</h4>
                <input id="empDeptName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Vəzifə:</h4>
                <input id="empPosName" type="text" disabled value="">
            </div>
            <div class="">
                <h4>Proyekt:</h4>
                <input id="empProjName" type="text" disabled value="">
            </div>
        </div>
        <form id="remove-form" class="d-flex flex-column justify-content-between" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="">
            <div class="select-emp-rm-time d-flex justify-content-between">
                <label for="">İşdən ayrılma vaxtı</label>
                <input class="w-50" type="date" name="j_end_date">
            </div>
            <div class="select-emp-rm-form-1 d-flex justify-content-between">
                <label for="">Ərizə Skan</label>
                <label class="btn btn-outline-dark btn-sm" for="application-form-1">Faylı Yükləyin</label>
                <input class="d-none" type="file" name="application-form" id="application-form-1">
            </div>
            <div class="select-emp-rm-form-2 d-flex justify-content-between">
                <label for="">Əmr Skan</label>
                <label class="btn btn-outline-dark btn-sm" for="application-form-2">Faylı Yükləyin</label>
                <input class="d-none" type="file" name="injunction" id="application-form-2">
            </div>
            <div class="select-emp-rm-work-book d-flex justify-content-between">
                <label for="">Əmək Kitabçası Skan</label>
                <label class="btn btn-outline-dark btn-sm" for="application-work-book">Faylı Yükləyin</label>
                <input class="d-none" type="file" name="work-book" id="application-work-book">
            </div>
            <div class="emp-rm-buttons d-flex justify-content-between">
                <span class="btn btn-outline-danger btn-sm empModalCancelBtn">Ləğv Et</span>
                <button class="btn btn-outline-secondary btn-sm" type="submit">Yadda Saxla</button>
            </div>
        </form>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/emp-remove-api.js"></script>
