<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th></th>
            <th></th>
            <th></th>
            <th>Employee</th>
            <th>Enter Sign Time</th>
            <th>Status</th>
            <th>
                <a class="btn btn-outline-success btn-sm" href="/nofprint/add-nofprint"><i class="bi bi-plus-circle"></i></a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {{#if nofprints}}
                {{#each nofprints}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{dataValues.emp.dataValues.first_name}} {{dataValues.emp.dataValues.last_name}} {{dataValues.emp.dataValues.father_name}}</td>
                        <td>{{dataValues.enter_sign_time}}</td>
                        {{#if dataValues.leave_sign_time}}
                            <td class="text-success">{{dataValues.leave_sign_time}}</td>
                        {{else}}
                            <td class="text-danger">Not Left</td>
                        {{/if}}
                        <td>
                        {{#if dataValues.leave_sign_time}}
                            <span class="text-success"><i class="bi bi-check-lg"></i></span>
                        {{else}}
                            <div class="btn-group">
                                <a class="btn btn-outline-warning btn-sm" href="/nofprint/update/{{dataValues.id}}"><i class="bi bi-check-lg"></i></a>
                            </div>
                        {{/if}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </div>
    </table>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/nofprint-api.js"></script>