<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th>Employee</th>
            <th>Project</th>
            <th>Department</th>
            <th>Position</th>
            <th>Enter</th>
            <th>Leave</th>
            <th>Date</th>
            <th>
                <button id="fpUploadBtn" class="btn btn-outline-success btn-sm" type="button">Upload</button>
            </th>
            </thead>
            
            <thead>
            <th><input type="text" name="qEmployee" id="qEmployee"></th>
            <th><input type="text" name="qProject" id="qProject"></th>
            <th><input type="text" name="qDepartment" id="qDepartment"></th>
            <th><input type="text" name="qPosition" id="qPosition"></th>
            <th><input type="text" name="qEnter" id="qEnter"></th>
            <th><input type="text" name="qLeave" id="qLeave"></th>
            <th><input type="text" name="qDate" id="qDate"></th>
            <th></th>
            </thead>
            <tbody>
            {{#if result}}
                {{#each result}}
                    <tr>
                        <td>{{this.first_name}} {{this.last_name}} {{this.father_name}}</td>
                        <td>{{this.projName}}</td>
                        <td>{{this.deptName}}</td>
                        <td>{{this.posName}}</td>
                        <td>{{this.f_enter}}</td>
                        <td class="text-success">{{this.f_leave}}</td>
                        <td>{{this.createdAt}}</td>
                        <td></td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </div>
    </table>
</div>
<div class="fprint-modal position-fixed w-100">
    <div class="fprint-modal-container w-100 h-100 d-flex justify-content-center align-items-center">
        <form action="" method="post">
            <div class="fprint-background d-flex flex-column p-5">
                <label for="upload" class="btn btn-outline-dark btn-sm mb-3">Fayl Seç</label>
                <input class="d-none" type="file" id="upload" name="file">
                <div class="buttons">
                    <span id="fpCancelBtn" class="btn btn-outline-danger btn-sm" type="button">Ləğv et</span>
                    <button class="btn btn-outline-primary btn-sm" type="submit">Təsdiqlə</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/f-print-api.js"></script>