<div class="department-table">
    {{> messages }}
    <table class="table table-striped">
        <div class="container">
            <thead>
            <th></th>
            <th></th>
            <th></th>
            <th>Employer</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>
                <a class="btn btn-outline-success btn-sm" href="/register">Əlavə <i class="bi bi-plus-circle"></i></a>
            </th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {{#if result}}
                {{#each result}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{this.first_name}} {{this.last_name}} {{this.father_name}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            {{#compare_if this.role 2}}
                                Admin
                            {{/compare_if}}
                            {{#compare_if this.role 3}}
                                Financier
                            {{/compare_if}}
                            {{#compare_if this.role 4}}
                                HR Assistance
                            {{/compare_if}}
                            {{#compare_if this.role 5}}
                                HR
                            {{/compare_if}}
                            {{#compare_if this.role 6}}
                                Audit Director
                            {{/compare_if}}
                            {{#compare_if this.role 7}}
                                Audit
                            {{/compare_if}}
                            {{#compare_if this.role 8}}
                                Management
                            {{/compare_if}}
                            {{#compare_if this.role 9}}
                                User
                            {{/compare_if}}
                        </td>
                        <td>
                            <a class="btn btn-outline-danger btn-sm" href="/delete/{{this.id}}"><i class="bi bi-x-circle"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="/users/update/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </div>
    </table>
</div>