<div class="container">
    <div class="time-off-form-container d-flex justify-content-center align-items-center" style="height: 90vh">
        <div class="time-off-form mb-5">
            <h1 class="text-center">Məzuniyyət Formu</h1>
            <div class="messages">

            </div>
            <div class="time-off-select-container d-flex justify-content-between mt-5">
                <div class="toff-select-cont-left d-flex flex-column">
                    <div class="time-off-type">
                        <label for="time-off-selector">Məzuniyyətin Növü:</label>
                        <select name="time-off-type" id="time-off-selector">
                            {{#if tOffTypes}}
                                {{#each tOffTypes}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>
                    <div class="toff-start-date">
                        <label for="toff-start-date">Başlanğıc Tarixi: </label>
                        <input type="date" id="toff-start-date">
                    </div>
                    <div class="toff-end-date">
                        <label for="toff-end-date">Bitmə Tarixi: </label>
                        <input type="date" id="toff-end-date">
                    </div>
                    <div class="timeoff-time-date d-none">
                        <label for="timeoff-time-date">İcazə Tarixi</label>
                        <input type="date" id="timeoff-time-date">
                    </div>
                    <div class="toff-authorized-time d-none">
                        <label for="toff-authorized-time">İcazə Saatı</label>
                        <input type="time" id="toff-authorized-time">
                    </div>
                    <div class="w-start-date">
                        <label for="w-start-date">İşə Qayıtma Tarixi: </label>
                        <select type="date" id="w-start-date">

                        </select>
                    </div>
                    <div class="possible-toff-days d-flex align-items-center">
                        <label for="toff-possible-days">Mümkün məzuniyyət günlərinin sayı: </label>
                        <input type="text" id="toff-possible-days" value="11" disabled>
                    </div>
                </div>
                <div class="toff-select-cont-right d-flex flex-column">
                    <div class="toff-maker">
                        <label for="toff-maker">Təşəbbüsçü:</label>
                        <select name="emp_id" id="toff-maker">
                            <option value="0" hidden>Əməkdaş Seçin</option>
                            {{#each result}}
                                <option value="{{this.id}}">{{this.first_name}} {{this.last_name}} {{this.father_name}}</option>
                            {{/each}}
                        </select>
                        <input type="hidden" id="empNameForWord">
                    </div>
                    <div class="toff-branch">
                        <label for="toff-branch">Filial: </label>
                        <input type="text" name="toff-branch" id="toff-branch" disabled>
                    </div>
                    <div class="toff-department">
                        <label for="toff-department">Departament</label>
                        <input type="text" name="toff-department" id="toff-department" disabled>
                    </div>
                    <div class="toff-emp-position">
                        <label for="toff-emp-position">Vəzifə: </label>
                        <input type="text" name="toff-emp-position" id="toff-emp-position" disabled>
                    </div>
                    <div class="toff-emp-comment">
                        <label for="toff-emp-comment">Şərh: </label>
                        <textarea name="toff-emp-comment" id="toff-emp-comment" placeholder="Şərhinizi bizə bildirin"></textarea>
                    </div>
                    <div class="d-none toff-directors-hidden-inputs">
                        <input type="hidden" id="deptDirector">
                        <input type="hidden" id="director">
                    </div>
                </div>
            </div>
            <div class="time-off-select-container d-flex justify-content-between mt-5">
                <div class="time-off-select-container d-none word-btn-container justify-content-between mt-5">
                <button class="btn btn-primary" id="downloadDoc"><i class="bi bi-file-earmark-word"></i> Ərizəni Yükləyin</button>
                <label for="uploadDoc" class="btn btn-info mx-2">Ərizəni əlavə et</label>
                <input class="d-none" type="file" id="uploadDoc" disabled>
            </div>
            </div>
            <div class="toff-submit-btn mt-4 d-flex justify-content-end">
                <button class="btn" id="toffNextBtn">Növbəti</button>
                <button class="btn d-none" id="toffApplyBtn">Təsdiqlə</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/number-to-azeri-word.js"></script>
<script src="/assets/js/time-off-api.js"></script>